.autocomplete {
  position: absolute;
  padding-top: 5px;
  z-index: 1000;
}
.autocomplete * {
  padding: 0;
  margin: 0;
}
.autocomplete ul:before {
  position: absolute;
  top: -5px;
  left: 10px;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #222;
}
.autocomplete ul {
  position: relative;
  padding: 4px;
  background: #222;
  color: #fff;
  min-width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0, .1) 0px 3px 5px;
  -moz-box-shadow: rgba(0,0,0, .1) 0px 3px 5px;
  box-shadow: rgba(0,0,0, .1) 0px 3px 5px;
}
.autocomplete li {
  list-style: none;
  text-align: left;
  padding: 4px 50px 4px 10px;
  cursor: pointer;
  margin-bottom: 1px;
  background: #333;
}
.autocomplete li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.autocomplete li.selected,
.autocomplete li.over {
  background: red;
  color: #fff;  
}


/* tagbox styles */
.tagbox {
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #fff 0px 1px 0px;
  -moz-box-shadow: #fff 0px 1px 0px;
  box-shadow: #fff 0px 1px 0px;
}
.tagbox * {
  margin: 0;
  padding: 0;
}
.tagbox.focus{  
  outline: 0;
}
.tagbox ul {
  overflow: hidden;
  padding: 10px 10px 6px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,.07) 0px 2px 4px inset;
  -moz-box-shadow: rgba(0,0,0,.07) 0px 2px 4px inset;
  box-shadow: rgba(0,0,0,.07) 0px 2px 4px inset;
  min-width:150px;
}
.tagbox li {
  position: relative;
  list-style: none;
  float: left;  
  cursor: pointer;
  margin: 0 4px 4px 0;
}
.tagbox li.new input {
  font-family: Arial, sans-serif;
  border: none;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background: none;
  min-width:150px;
}
.tagbox li.new input:focus {
  outline: none;
}
.tagbox li .tag {
  position: relative;
  display: block;
  background: #222;
  color: #fff;
  border-radius: 20px;
  height: 20px;
  line-height: 20px;
  font-size-adjust: 100%;
  font-size: 12px;
  padding: 0 30px 0 12px;
  vertical-align: middle;
}
.tagbox li .delete {
  position: absolute;
  font-family: Arial, sans-serif;
  right: 7px;
  top: 4px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
  color: #222;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////QkJCfEGH6wAAABRJREFUeNpiYGRgACEgBhMgBBBgAABkAAl7vFkJAAAAAElFTkSuQmCC) no-repeat center center;
  width: 12px;
  text-indent: -6000px;
  font-size: 11px;
  line-height: 12px;
  height: 12px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.tagbox .selected .tag {
  background: red;
}